.slices
  height 100%
  &.rows-2
    .triangle-row
      height 50%
  &.rows-3
    .triangle-row
      height 33.3%
      &:last-child
        height 33.4%
  &.rows-4
    .triangle-row
      height 25%
  .swiper-container
    height 100%
  .triangle-slice
    width 100%
  canvas
    position relative

[data-page=play]
  .back-btn
    position absolute
    top 15px
    left 15px
    background url(../img/back-btn.png) no-repeat top left
    background-size contain
    width 50px
    height 50px
    z-index 1
    -webkit-transition all 1s
    &.hide
      -webkit-transform translateY(-200px)

.game-over
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 2
  font-family 'Moon Flower', sans-serif
  text-align center
  background-color rgba(0,0,0,0.2)
  display none
  -webkit-transition all 0.5s
  h1
    position absolute
    top 50%
    margin 0
    margin-top -117px
    width 100%
    text-align center
    font-size 57px
    font-weight bold
    -webkit-transition all 0.3s
    -webkit-transform translateY(-500px)
    -webkit-transition-delay 0.3s
  h2
    position absolute
    top 50%
    margin 0
    margin-top -43px
    width 100%
    text-align center
    font-size 32px
    -webkit-transition all 0.3s
    -webkit-transform translateY(-500px)
    -webkit-transition-delay 0.1s
  .btn
    display inline-block
    position absolute
    top 50%
    left 50%
    text-align center
    font-size 36px
    font-weight bold
    width 190px
    border 2px solid #000
    border-radius 10px
    line-height 40px
    margin-left -95px
    -webkit-transition all 0.2s
  .next-btn
    margin-top 20px
    color black
    border-color #000
    -webkit-transition-delay 0.1s
    -webkit-transform translateY(500px)
  .share-btn
    margin-top 74px
    color #FFFFFF
    border-color #FFFFFF
    -webkit-transition-delay 0.2s
    -webkit-transform translateY(500px)
  .quit-btn
    margin-top 128px
    color #840000
    border-color #840000
    -webkit-transition-delay 0.3s
    -webkit-transform translateY(500px)
  &.show
    display block
  &.zoom-out
    -webkit-transform scale(2)
    opacity 0

.game-over.win .btn, .game-over.win h1, .game-over.win h2
  -webkit-transform translateY(0px)

